<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
  <style>
    body {
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }

    #atoms {
      margin-top: 20px;
      background-color: #94bf1e;
      color: #ffffff;
      border: 1px solid black;
    }

    #tracks {
      margin-top: 20px;
    }
  </style>
</head>

<body>
    <h3>Basic sample</h3>
  <div>
    Sample media assets:
    <select id="mediaUrl">
      <option value="https://video-dev.github.io/streams/x36xhzz/url_0/url_462/193039199_mp4_h264_aac_hd_7.ts">TS Segment</option>
      <option value="http://multiplatform-f.akamaihd.net/i/multi/will/bunny/big_buck_bunny_,640x360_400,640x360_700,640x360_1000,950x540_1500,.f4v.csmil/segment2_0_av.ts">Another TS Segment</option>
      <option value="https://dash.akamaized.net/akamai/bbb_30fps/bbb_30fps_480x270_600k/bbb_30fps_480x270_600k_0.m4v">MP4 Init Segment</option>
      <option value="https://dash.akamaized.net/akamai/bbb_30fps/bbb_30fps_480x270_600k/bbb_30fps_480x270_600k_1.m4v">MP4 chunk</option>
    </select>
    <input type="button" value="Inspect" onclick="inspectMedia()">
  </div>

  <div id="atoms"></div>

  <div id="tracks"></div>

  <script>
    function inspectMedia() {
      var mediaUrl = document.getElementById("mediaUrl").value;
      if (!mediaUrl) return;

      var req = new XMLHttpRequest();
      req.open('GET', mediaUrl, true);
      req.responseType = 'arraybuffer';

      req.onload = function (data) {
        var arrayBuffer = req.response;
        if (arrayBuffer) {
          var byteArray = new Uint8Array(arrayBuffer);

          var demuxer = createDemuxer(mediaUrl);
          demuxer.append(byteArray);
          demuxer.end();

          updateAtomsInfo(demuxer);
          updateTracksInfo(demuxer);
        }
      };

      req.send(null);
    }

    function createDemuxer(mediaUrl) {
      // Find out demuxer looking at file extension. "Enough" good for this sample
      var ext = mediaUrl.split('.').pop();
      return ext === 'ts' ? inspectorjs.createMpegTSDemuxer() :
        inspectorjs.createMp4Demuxer();
    }

    function updateTracksInfo(demuxer) {
      var el = document.getElementById('tracks');

      // Remove any child of tracks element
      while (el.firstChild) {
        el.removeChild(el.firstChild);
      }

      for (var trackId in demuxer.tracks) {
        addTrackInfo(el, demuxer.tracks[trackId]);
      }
    }

    function addTrackInfo(el, track) {
      var trackEl = document.createElement('div');

      // Add track general info
      trackEl.innerHTML = '<h4>Track # ' + track.id + ' - ' + track.mimeType + '</h4>';

      // Add frame details
      var framesEl = document.createElement('ul');
      for (var frame of track.frames) {
        var frameEl = document.createElement('li');
        frameEl.innerHTML = 'Frame ' + frame.frameType + ' - ' + parseFloat(frame.timeUs / 1000000).toFixed(3);
        framesEl.appendChild(frameEl);
      }
      trackEl.appendChild(framesEl);

      // Add track info to dom
      el.appendChild(trackEl);
    }

    function updateAtomsInfo(demuxer) {
      var el = document.getElementById('atoms');

      // Remove any child of tracks element
      while (el.firstChild) {
        el.removeChild(el.firstChild);
      }

      addAtoms(el, demuxer.atoms);
    }

    // Add information about MP4 atoms
    function addAtoms(parent, atoms) {
      if (!atoms || atoms.length === 0) return;

      var containerEl = document.createElement('ul');
      for (var atom of atoms) {
        var atomEl = document.createElement('li');
        atomEl.innerHTML = atom.type + ', ' + atom.size + ' bytes';
        containerEl.appendChild(atomEl);

        if (atom.atoms && atom.atoms.length > 0) {
          addAtoms(atomEl, atom.atoms);
        }
      }

      parent.appendChild(containerEl);
    }
  </script>
</body>

</html>