<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
</head>

<body>
  <div class="player">

  </div>

  <div ng-controller="myCtrl">
    <div class="row">
      <div class="col-md-12">
        <pre>{{mp4Atoms}}</pre>
         <pre>{{framesInfo}}</pre>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <treecontrol class="tree-light" tree-model="mp4Atoms" options="treeOptions" on-selection="showSelected(node)">
          {{node.type}} ({{node.size}} bytes)
        </treecontrol>
      </div>
      <div class="col-md-9">
        <ul>
          <li ng-repeat="(key, value) in selectedNode" ng-if="key !== 'atoms' && key !== 'containerDataOffset'">
            {{key}}: {{value}}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <video id="video"></video>

  <script>
    let app = angular.module('myApp', ['treeControl']);
    app.controller('myCtrl', function ($scope, $http) {
      $scope.treeOptions = {
        nodeChildren: 'atoms'
      };

      $scope.showSelected = function (sel) {
        $scope.selectedNode = sel;
      };


      var oReq = new XMLHttpRequest();
      var mediaSampleUrl = 'http://localhost/test/mp3_sample.ts';
      //var mediaSampleUrl = 'http://localhost/dash/init_video.m4s';
      $http.get(mediaSampleUrl, {
        responseType: 'arraybuffer'
      }).then(function successCb(response) {
        let arrayBuffer = response.data; // Note: not oReq.responseText
        if (arrayBuffer) {
          var byteArray = new Uint8Array(arrayBuffer);
          var demuxer = inspectorjs.createMpegTSDemuxer();
          //var demuxer = inspectorjs.createMp4Demuxer();
          demuxer.demux(byteArray);
          //$scope.mp4Atoms = demuxer.atoms;
          //console.log(JSON.stringify($scope.mp4Atoms));
        }
      }, function errorCb(response) {
        console.log('Error: ' + response);
      });

      /*
      if (Hls.isSupported()) {
        var video = document.getElementById('video');
        var hls = new Hls({
          enableWorker: false
        });
        hls.loadSource('https://video-dev.github.io/streams/x36xhzz/x36xhzz.m3u8');
        hls.attachMedia(video);
        hls.on(Hls.Events.MANIFEST_PARSED, function () {
          video.play();
        });
        hls.on(Hls.Events.FRAG_LOADED, function (event, segment) {
          if (segment && segment.payload.byteLength > 0) {
            let arrayBuffer = segment.payload; // Note: not oReq.responseText
            if (arrayBuffer) {
              var byteArray = new Uint8Array(arrayBuffer);
              //var demuxer = inspectorjs.createMpegTSDemuxer();
              var demuxer = inspectorjs.createMpegTSDemuxer();
              demuxer.demux(byteArray);
              $scope.framesInfo = demuxer.tracks;
              $scope.$apply();
            }
          }
        });
      }
      */
    });

    /*
    let mp4Atoms;
    var oReq = new XMLHttpRequest();
    //var mediaSampleUrl = 'http://localhost/test/m_500000_8.ts';
    //var mediaSampleUrl = 'http://localhost/dash/init_video.m4s';
    var mediaSampleUrl = 'http://localhost/dash/chunk_video.m4s';
    oReq.open('GET', mediaSampleUrl, true);
    oReq.responseType = 'arraybuffer';

    oReq.onload = function (oEvent) {
      var arrayBuffer = oReq.response; // Note: not oReq.responseText
      if (arrayBuffer) {
        var byteArray = new Uint8Array(arrayBuffer);
        //var demuxer = EpicPlayer.createMpegTSDemuxer();
        var demuxer = EpicPlayer.createMp4Demuxer();
        mp4Atoms = demuxer.demux(byteArray);
        console.log(JSON.stringify(mp4Atoms));
      }
    };
    oReq.send(null);
    */
  </script>
</body>

</html>